/********/
/* Main */
/********/

html,
body {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Courier Prime", monospace;
}

#heading,
#bottom-text {
  font-size: 1.5rem;
  text-align: center;
  color: rgb(90, 225, 255);
}

#bottom-text {
  margin-top: 5%;
}

#prompt-display {
  font-size: 2em;
  line-height: 2em;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 10%;
  padding-bottom: 10%;
  margin: auto;
  text-align: center;
}

#timer-box {
  top: 10px;
}

#wpm-box {
  top: 40px;
}

/* Classes */
.side-box {
  font-size: 1.2em;
}

.metric {
  position: fixed;
  font-size: 1.5em;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.btn {
  display: inline-flex;
  border: 4px solid rgb(90, 225, 255);
  margin-left: 1%;
  padding: 7px;
  background-color: rgb(90, 225, 255);
  font-size: 0.8em;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

/* Prompt */

.cursor {
  color: #f8f522;
  font-size: 2.5rem;
}

.cursor-wrong {
  color: #f93636;
}

.cursor-correct {
  color: rgb(72, 255, 66);
}

.space {
  border-bottom: 5px dotted;
}

/*********/
/* Fonts */
/*********/

/* Courier Prime */
@font-face {
  font-family: "Courier Prime";
  src: url("../fonts/Courier_Prime/CourierPrime-Regular.ttf");
}

@font-face {
  font-family: "Courier Prime Italic";
  src: url("../fonts/Courier_prime/CourierPrime-Italic.ttf");
}

@font-face {
  font-family: "Courier Prime Bold";
  src: url("../fonts/Courier_prime/CourierPrime-Bold.ttf");
}

@font-face {
  font-family: "Courier Prime Bold Italic";
  src: url("../fonts/Courier_prime/CourierPrime-BoldItalic.ttf");
}

/* Arvo */
@font-face {
  font-family: "Arvo";
  src: url("../fonts/Arvo/Arvo-Regular.ttf");
}

@font-face {
  font-family: "Arvo Italic";
  src: url("../fonts/Arvo/Arvo-Italic.ttf");
}

@font-face {
  font-family: "Arvo Bold";
  src: url("../fonts/Arvo/Arvo-Bold.ttf");
}

@font-face {
  font-family: "Arvo Bold Italic";
  src: url("../fonts/Arvo/Arvo-BoldItalic.ttf");
}
