@import url("https://fonts.googleapis.com/css?family=Courier+Prime|Oswald&display=swap");
html,
body {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Courier Prime", monospace;
}

#heading,
#bottom-text {
  font: 2.5em "Oswald", sans-serif;
  text-align: center;
  color: yellow;
}

#bottom-text {
  margin-top: 5%;
}

#prompt-display {
  font-size: 2em;
  line-height: 2em;
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
}

#timer-box {
  top: 10px;
}

#wpm-box {
  top: 40px;
}

.side-box {
  display: block;
  font-size: 1.5em;
}

.metric {
  position: fixed;
  font-size: 1.5em;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.cursor {
  border-bottom: 3px solid;
}

.space {
  border-bottom: 5px dotted;
}
