/********/
/* Main */
/********/

html,
body {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: "Courier Prime", monospace;
}

#progress-bar {
  width: 100%;
  margin: 0px;
  height: 5px;
  background-color: white;
}

#progress-bar-inner {
  background-color: rgb(72, 255, 66);
  height: 5px;
  transition-property: width;
  transition-duration: 0.5s;
}

#heading,
#bottom-text {
  font-size: 1.5rem;
  text-align: center;
  color: rgb(90, 225, 255);
}

#bottom-text {
  margin-top: 5%;
}

#prompt-display {
  font-size: 2em;
  line-height: 2em;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

/* Classes */

.side-box {
  top: 5%;
  font-size: 1.2em;
}

.metric {
  font-size: 1.5em;
}

.btn {
  display: inline-flex;
  border: 4px solid rgb(90, 225, 255);
  margin-left: 1%;
  padding: 7px;
  background-color: rgb(90, 225, 255);
  font-size: 0.8em;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

/* Prompt */

.cursor {
  color: #f8f522;
  font-weight: bold;
}

.cursor-wrong {
  transition-property: color;
  transition-duration: 0.2s;
  color: #f93636;
}

.cursor-correct {
  transition-property: color;
  transition-duration: 0.2s;
  color: rgb(72, 255, 66);
}

.cursor-space {
  border-bottom: 3px dotted;
}

/*********/
/* Fonts */
/*********/

/* Courier Prime */
@font-face {
  font-family: "Courier Prime";
  src: url("../fonts/Courier_Prime/CourierPrime-Regular.ttf");
}

@font-face {
  font-family: "Courier Prime Italic";
  src: url("../fonts/Courier_prime/CourierPrime-Italic.ttf");
}

@font-face {
  font-family: "Courier Prime Bold";
  src: url("../fonts/Courier_prime/CourierPrime-Bold.ttf");
}

@font-face {
  font-family: "Courier Prime Bold Italic";
  src: url("../fonts/Courier_prime/CourierPrime-BoldItalic.ttf");
}

/* Arvo */
@font-face {
  font-family: "Arvo";
  src: url("../fonts/Arvo/Arvo-Regular.ttf");
}

@font-face {
  font-family: "Arvo Italic";
  src: url("../fonts/Arvo/Arvo-Italic.ttf");
}

@font-face {
  font-family: "Arvo Bold";
  src: url("../fonts/Arvo/Arvo-Bold.ttf");
}

@font-face {
  font-family: "Arvo Bold Italic";
  src: url("../fonts/Arvo/Arvo-BoldItalic.ttf");
}
